node_modules
/public/build/

.DS_Store
.vscode/extensions.json
.vscode/settings.json
relaxing-clock-svelte.code-workspace
.env

blog/public
rc-svelte.code-workspace
rc.code-workspace
# Local Netlify folder
.netlify

public/blog
public/manifest.json
package-lock.json