@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/webfonts/SourceCodePro-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/webfonts/SourceCodePro-medium.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/webfonts/SourceCodePro-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/webfonts/SourceCodePro-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/webfonts/SourceCodePro-Black.ttf');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/webfonts/dmmono-regular.ttf');
    font-weight: 500;
    font-display: swap;
}

:root {
    --primary: rgb(29, 29, 29);
    --secondary: rgb(63, 63, 63);
    --text: rgb(245, 245, 245);
    --highlighted: rgb(245, 245, 245);
}


body {
	background-color: var(--primary);
    overflow-x: hidden;
    line-height: 1;
}

::selection {
    color: var(--primary);
    background: var(--highlighted);
}

::-moz-selection {
    color: var(--primary);
    background: var(--highlighted);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

button:focus-visible, button:focus-within, button:focus {
    outline: none !important;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

input:focus-visible {
    outline: none;
}

/* Scrollbar */
* {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100); 
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 245, 245); 
}